<Plugin
    DescriptorVersion="1.0" 
    Name="Emulators"
    PluginId="{FFAC513C-40B3-4FB0-8CBC-1683B4B7395C}"
    Author="Brownard"
    Copyright="GPL"
    Description="Frontend for the emulators plugin.">
  
  <Version
        PluginVersion="1.0"
        ReleaseDate="2015-07-22 01:00:00 GMT+01:00"
        CurrentAPI="1"/>
  
  <Runtime>
    <Assembly FileName="Emulators.dll"/>
    <PluginStateTracker ClassName="Emulators.EmulatorsPlugin"/>
  </Runtime>

  <DependsOn>
    <CoreDependency Name="MediaPortal.Common" CompatibleAPI="1" />
    <CoreDependency Name="MediaPortal.UI" CompatibleAPI="1" />
    <PluginReference PluginId="{5D239050-02B8-4f58-8301-7630A1C4CF85}" CompatibleAPI="1" />    <!-- SkinBase -->
    <PluginReference PluginId="{15FB35F7-8C85-4404-BC67-BFF28446158A}" CompatibleAPI="1" />    <!-- Media -->
    <PluginReference PluginId="{AFD22F9B-9842-40BE-B2B5-37767713E9C1}" CompatibleAPI="1" />    <!-- Emulators Backend -->
    <PluginReference PluginId="{15FD97A4-D925-4D8A-9DF0-5349743EED0C}" CompatibleAPI="1" />    <!-- Fanart Client -->
    <PluginReference PluginId="{1AFF4467-64B0-4ca1-AF28-9AEDF3525BCE}" CompatibleAPI="1" />    <!-- ConfigurationManager -->
    <PluginReference PluginId="{B765A4B6-F455-4941-BDAE-2CE45208BFEB}" CompatibleAPI="1" />    <!-- Configuration plugin -->
  </DependsOn>

  <Register Location="/Players/Builders">
    <PlayerBuilder Id="454EDEB8-99AB-4D5F-95BD-B699DD2ACBE4" ClassName="Emulators.GamePlayerBuilder"/>
  </Register>
  
  <Register Location="/Fanart/FanartImageSourceProviders">
    <FanartImageSourceProviderBuilder Id="{E89579C8-AADE-4788-8E33-ECE5115A4FD6}" ClassName="Emulators.Fanart.FanartImageSourceProvider"/>
  </Register>

  <Register Location="/Workflow/States">

    <WorkflowState Id="DFC41902-DE22-4AEF-B9D2-C369BD79C4E0"
      Name="GamesNavigation-Root"
      DisplayLabel="[Emulators.GamesMenuItem]"
      WorkflowModel="4CDD601F-E280-43b9-AD0A-6D7B2403C856"/>   <!-- Workflow model = Media model -->

  </Register>

  <!-- Language resources -->
  <Register Location="/Resources/Language">
    <Resource Id="EmulatorsLanguage" Directory="Language" Type="Language"/>
  </Register>

  <Register Location="/Models">
  </Register>

  <Register Location="/Resources/Skin">
    <Resource Id="EmulatorsSkin" Directory="Skin" Type="Skin"/>
  </Register>

  <!-- Root Sections -->
  <Register Location="/Configuration/Settings">
    <ConfigSection
        Id="Plugins"
        Redundant="true"
        Text="[Settings.Plugins]"/>
  </Register>
  
</Plugin>
