<Plugin
    DescriptorVersion="1.0"
    Name="Emulators Server"
    PluginId="{C98D7481-5E7B-4DD0-873A-192A4EAA922E}"
    Author = "Brownard"
    Copyright="GPL"
    Description=""
    AutoActivate="true">

  <Version
        PluginVersion="1.0"
        ReleaseDate="2015-07-22 01:00:00 GMT+01:00"
        CurrentAPI="1"/>

  <Runtime>
    <Assembly FileName="Emulators.Server.dll"/>
    <Assembly FileName="Emulators.Common.dll"/>
    <Assembly FileName="FanArtService.Interfaces.dll"/>
    <PluginStateTracker ClassName="Emulators.Server.ServerPlugin"/>
  </Runtime>

  <DependsOn>
    <CoreDependency Name="MediaPortal.Common" CompatibleAPI="1" />
    <CoreDependency Name="MediaPortal.Backend" CompatibleAPI="1" />
  </DependsOn>

  <Register Location="/Media/MetadataExtractors">
    <Instance
        Id="GamesMetadataExtractor"
        ClassName="Emulators.Common.GameMetadataExtractor"/>
    <Instance
        Id="GoodmergeMetadataExtractor"
        ClassName="Emulators.Common.GoodMergeMetadataExtractor"/>
  </Register>

  <Register Location="/Services">
    <Service Id="GamesDbMatcher" RegistrationClassName="Emulators.Common.Matchers.GameMatcher"
        ServiceClassName="Emulators.Common.Matchers.GameMatcher"/>
  </Register>
  
  <!-- We use our own local name here to avoid circular references to FanArtService -->
  <Builder Name="GameFanartProviderBuilder" ClassName="MediaPortal.Extensions.UserServices.FanArtService.Interfaces.Providers.FanartProviderBuilder"/>
  <Register Location="/Fanart/Providers">
    <GameFanartProviderBuilder Id="{CD23AA74-57E8-4FFE-93DB-9AC4C701F19A}" MediaTypes="Game" ClassName="Emulators.Common.FanartProvider.GameFanartProvider"/>
  </Register>
  
</Plugin>